.head .nav li:hover .er .er_m ul li a{ font-size:12px;}
.head .nav li .er .er_m ul li a{ height:auto; padding:10px 0; font-size:12px; line-height:135%;}
.f_nav li p{ font-size:12px; line-height:110%; height:auto; padding:5px 0;}
.f_nav li p a{ font-size:12px;}
.scd_l .s_nav li a{ font-size:13px;}
.scd_l .s_nav li{ height:auto; padding:15px 0; line-height:normal;}
.scd_l .s_nav li a{ font-size:13px; height:auto; line-height:120%;}

