.b_pub_search {
    margin: auto;
    width: 50%;
}

.b_background {
    background-color: black; 
    opacity:0.8; 
    width:100%; 
    height:100%; 
    position: fixed; 
    z-index:999999999; 
    visibility:hidden;
    top:0;
}

.b_overlay_container {
    position: fixed; 
    width: 1134px; 
    margin:auto;
    z-index: 1000000000; 
    visibility: hidden; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.b_frame_container {
    position: relative; 
    width: 100%; 
    border-radius: 20px 20px 0 0; 
    background: #fff;
    opacity: 0;
    transition: opacity 1s;
    z-index: 102;
    flex: 1 1 auto;
    overflow: hidden;
    height: 100%;
}

.b_pub_frame {
    height:100%; 
    width:100%; 
    border: none;
    opacity: 0;
    transition: opacity 1s;
    padding-top: 20px;
}

.b_overlay_header {
    position: relative;
    max-height: 44px;
    flex: 0 1 50px;
    height:100%;
    min-height:44px;
}

.b_overlay_close {
    top: 16px;
    right: 20px;
    width: 16px;
    cursor: pointer;
    position: absolute;
    height: 16px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFqSURBVHgBtZfRjYMwDEDjwi9SVmAD2OAYoZvcTdKR0E0A3wjBCpH4Bs5GReIoEMcklloladr3aogtlMLo+z7ruq6sqkqrwIEsTaymaTKaA8GnaSpxrOd5rodhKPI8NypAEHwcxxIACG5wXDzw7UXwxQY/SJIkSCZ2cAodx/HrEUXRExfrdWMIiQO4omzj/AnrBlwo8fVvg4/LcQbHP16kaWpgu9G3hA1Oc9h/wZcEB/4h4EuCCz8UuCvhAj8VkEq4wi8FXCUkcKsAV0IKZwnYJLTWSgpnC1xJLD8ihDsJnElswxXuLHAlIYFTPJQgsH0frhvjXrGdL8H+htuGpGyzM3DRUut1Lmnl7GN4dtTeY3HvYBUi2zm/0zuspZhbZKQS4AN+RwJ8waUS4BMukQDfcFcJCAF3kYBQcK4EhIRzJKBtW4J/hYJbJH7p0ewHxyYknGJ5CgIoNr3DIOt7tcsoE2SpAgcx3qwlE3/qdwEFkCgrRQAAAABJRU5ErkJggg=='); 
    background-size: contain;
}

.b_overlay_close:hover {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC/SURBVHgB1ZdRCsJADESDJ/Aovf9PvUGP0iOMq0YogjTJzhgM9Kvw3mt3W1izMQCWca3jupp4Hg53LXaQ73jNpoxw+eau/RnhNceRRHzI37N+u0GNOHUoI8JsRUSayYwosxgR04wZAO0tVkBg76MMkC7PgGXyiEAuD0To5ScRv5EHIkryi/3TtC5B6yZE52eIzh9RBkyPqABpETOg6QjGU5QZIK5jmgXwd3KYqZCH2Up5KAK9R7Nb/+HUb7Qdz+/P1Y8twEwMcAAAAABJRU5ErkJggg==');
    background-size: contain;
}

.b_searchboxForm, #b_searchboxForm {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    border-radius: 20px;
    height: 40px;
    display: flex;
}

#sb_form {
    width: 550px;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
}

#sb_form_q {
    font: 16px/normal 'Roboto',Sans-Serif;
    margin: 5px 0 1px 20px;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: content-box;
    vertical-align: top;
    border-radius: 6px;
    height: 30px;
    width: 100%;
}

#sb_form_q::-webkit-input-placeholder{
    font: 16px/normal 'Roboto',Sans-Serif;
    color: #919191;
    line-height: 30px;
}
#sb_form_q::-moz-placeholder{
    font: 16px/normal 'Roboto',Sans-Serif;
    color: #919191;
    line-height: 30px;
}
#sb_form_q:-ms-input-placeholder{
    font: 16px/normal 'Roboto',Sans-Serif;
    color: #919191;
    line-height: 30px;
}
#sb_form_q::placeholder {
    font: 16px/normal 'Roboto',Sans-Serif;
    color: #919191;
    line-height: 30px;
}

.sa_drw{
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    font: 16px/normal 'Roboto',Sans-Serif;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    margin: unset;
    padding-inline-start: 0;
}

.sa_tm {
    margin-left: 20px;
    margin-right: 10px;
    line-height: 36px;
}

li:last-of-type.sa_hv {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.sa_as {
    position: absolute;
    width: 100%;
    z-index: 10000000 !important;
}
.sa_hv {
    background: #ececec;
}
#sw_as {
    z-index: 10000000 !important;
    position: relative;
}

.masthead-container-row {
    margin-top: 15px;
}

#b_searchboxForm.as_on{
    border-radius: 20px 20px 0 0;
    border-bottom: none !important;
}
.as_on{
    border-radius: 20px 20px 0 0 !important;
}

#sb_go_par {
    margin-right: 10px;
}
.b_searchboxSubmit {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-width: 0;
    margin: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAlElEQVR4AWxOVQFAIQwkAtdgEYh0UReBCEQgwRNct5/JmWkFQvHmVtDcCw4hQ0YHuBss5hch/yZgpsUDms8edrpY+ERdYcxqGTZDM53zSafDLqDTIUeXC1DS5xuSABoXTYZUEwm7kWhfEw7Hy0CxR0TFDBDeFBQgHNePgMpQ7MGReiDRCFWKHwwepRtAbMJKNwhOAAAGv3AKZz9t+AAAAABJRU5ErkJggg==') no-repeat center;
}
.sa_hd {
    color: #444;
    font: 600 13px/16px 'Roboto',Sans-Serif;
    cursor: default;
    padding-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}

/*for privacy note showing below QF*/
.as_bpr {
    background-color: #f5f5f5;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
}

.as_bprtxt {
    font-size: 11px;
    padding-left: 20px;
    line-height: 40px;
}

.as_bpr > span > a {
    font-size: 11px;
    color: #003dbf;
}

html {
    width: 100%;
}